body {
  background-color: #392c26 !important;
  background-image: url("./asserts/bg1.jpg") !important;
  background-size: cover;
  background-position: center;
  position: relative;
}
.logo {
  width: 300px;
  height: 200px;
  /* background-color: black; */
  background-image: url("./asserts/logo.png");
  background-size: cover;
  position: absolute;
  top: 120px;
  left: 510px;
  /* margin: 0 auto; */
}

.text_box {
  position: absolute;
  top: 350px;
  left: 550px;
}
.innerCard h3 {
  font-size: 20px;
  font-weight: 900;
}
.button {
  margin-top: 15px;
  box-shadow: 0 4px 12px 0 rgba(169, 27, 27, 1);
}
.textAlign {
  position: absolute;
  top: 150px;
  left: 350px;
}
.candidateBox {
  width: 270px;
  height: 200px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  /* -moz-box-shadow: inset 0 0 100px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000; */
  box-shadow: inset 0 0 10px 0 #000000;
  position: relative;
  /* color: transparent; */
}
.candidateBox p {
  color: white;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.candidateBox:hover {
  width: 300px;
  height: 210px;
  filter: drop-shadow(0 0 0.75rem black);
  transition: 1s;
  cursor: pointer;
}
.candidateBox:hover .innerBox {
  width: 100%;
  height: 30%;
  background-color: black;
  opacity: 0.5;
  padding: 20px;
  font-size: 2em;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  transition: 2s;
}
.innerCard {
  width: 340px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  box-shadow: inset 0 0 20px 0 #000000;
  text-align: center;
  padding: 5px;
}
.inner {
  width: 300px;
}
.textField {
  color: white;
  position: absolute;
  top: 50px;
  left: 550px;
}
#nameHere {
  color: white;
  margin: 0 auto;
  margin-top: 20%;
  margin-left: 10%;
}
#nameHere b {
  color: black;
  margin: 0 auto;
  text-transform: capitalize;
  margin-top: 20%;
  margin-left: 10%;
}
.finalBox {
  margin: 0 auto;
  margin-top: 8%;
}
.finalBtn {
  margin-left: 40%;
}
